:root {
    --text-primary: #101d42;
    --text-secondary: #fbb44c;
    --text-dark: #2b2922;
    --text-light: #eaeaea;
    --text-white: #ffffff;
    --bg-primary: #141e4c;
    --bg-secondary: #dfedf5;
    --bg-dark: #101d42;
    --bg-light: #ffffff;
    --button-color: #2bb686;
    --fs-large: 1rem;
    --fs-medium: 0.875rem;
    --fs-small: 0.75rem;
    --spacing-xl: 2.625rem;
    --spacing-large: 1.75rem;
    --spacing-medium: 1rem;
    --spacing-small: 0.5rem;
    --spacing-tiny: 0.25rem;
    --mobile-logo-height: 45px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a{
    display: block;
    text-decoration: none;
}

/* Nav Bar section */
.menu-icon{
    display: none;
}

nav{
    display: block;
    background-color: var(--bg-primary);
    position: fixed;
    width: 100%;
    z-index: 2;
}

nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container{
    max-width: 1200px;
    min-width: 320px;
    margin: auto;
    padding: var(--spacing-medium);
}

nav img{
    width: auto;
    height: 60px;
}

nav img:hover{
    transform: scale(1.05);
}

nav a{
    font-size: var(--fs-small);
    color: var(--text-light);
    padding: var(--spacing-medium);
}

ul{
    list-style-type: none;
    display: flex;
}

nav .arrow-down-icon {
    font-size: var(--fs-large);
    position: absolute;
}

nav li{
    position: relative;
}

nav a:hover{
    color: var(--text-secondary);
    transform: scale(1.1);
}

.about-us .submenu{
    display: none;
    position: absolute;
    background-color: var(--bg-dark);
    top: calc(100% - var(--spacing-small));
    left: var(--spacing-medium);
    width: 10rem;
    padding: var(--spacing-tiny) 0;
    background-color: var(--bg-dark);
    z-index: 3;
}

.submenu a{
    padding: var(--spacing-tiny) 
            var(--spacing-small);
}

.about-us:hover .submenu{
    display: block;
}

/* Welcome Section */
main{
    flex-grow: 1;
}
.welcome{
    background-color: var(--bg-primary);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.welcome .container{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.welcome h1, .welcome p{
    color: var(--text-white);
}

h1{
    font-size: 3.5rem;
}

p{
    font-size: var(--fs-medium);
    color: var(--text-dark);
    margin-bottom: var(--spacing-medium);
}

.welcome p{
    margin-bottom: var(--spacing-xl);
}

.welcome p span {
    color: var(--text-secondary);
}

.welcome img{
    height: 24px;
    width: auto;
    position: relative;
    top: var(--spacing-tiny);
    margin-left: var(--spacing-medium);
}

.welcome a{
    background-color: var(--button-color);
    color: var(--text-light);
    font-size: var(--fs-medium);
    text-transform: uppercase;
    text-align: center;
    padding: var(--spacing-medium);
    border-radius: 5px;
    width: 260px;
    border: 1px solid var(--button-color);
}

.welcome a:hover {
    background-color: var(--bg-primary);
}

/* Courses */
.courses .container.grid{
    padding: var(--spacing-medium) var(--spacing-small);
}

.courses .courses-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: var(--spacing-large);
}

.courses .course-wrapper {
    width: calc(100% / 3);
    padding-left: var(--spacing-small);
    padding-right: var(--spacing-small);
}

.courses h2 {
    margin: var(--spacing-large) 0;
    text-align: center;
}

h2{
    color: var(--text-primary);
    font-size: 1.75rem;
}

.courses .course, .courses h3, .courses .badges {
    margin-bottom: var(--spacing-medium);
}

.courses .course {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: var(--spacing-tiny);
}

.courses .course:hover{
    background-color: var(--button-color);
    transition-duration: 1s;
}

.courses .content {
    padding: var(--spacing-medium) var(--spacing-small);
}

.courses .bar {
    height: var(--spacing-tiny);
    background-color: var(--button-color);
    border-radius: 10px;
}

.courses h3 {
    color: var(--text-primary);
    font-weight: 400;
}

h3{
    font-size: 1.5rem;
}

.course .date, .courses .place {
    padding: var(--spacing-tiny);
}

.courses span {
    font-size: var(--fs-medium);
    color: var(--text-dark);
}

.courses .material-icons {
    vertical-align: middle;
}

.courses .place {
    background-color: var(--text-secondary);
    margin-left: var(--spacing-tiny);
}

/* Who we are */
.who-we-are{
    background-color: var(--bg-secondary);
}

.who-we-are .container.grid{
    padding: var(--spacing-medium) var(--spacing-small);
}

.who-we-are h2, .who-we-are p {
    margin-bottom: var(--spacing-large);
    text-align: center;
}

.who-we-are h2 {
    padding-top: var(--spacing-large);
}

.who-we-are .container.grid p {
    margin-right: var(--spacing-small);
    margin-left: var(--spacing-small);
}

.who-we-are .images-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: var(--spacing-large);
}

.who-we-are .image-wrapper {
    width: calc(100% / 3);
    padding-right: var(--spacing-small);
    padding-left: var(--spacing-small);
    margin-bottom: var(--spacing-medium);
}

.who-we-are img {
    width: 100%;
    height: auto;
}

/* Parteners */
.partners h2, .partners .partners-container {
    margin-bottom: var(--spacing-large);
}

.partners h2 {
    padding-top: var(--spacing-large);
    text-align: center;
}

.partners .partners-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 var(--spacing-xl);
}

.partners .image-wrapper {
    width: 100px;
    margin-right: var(--spacing-xl);
    margin-left: var(--spacing-xl);
    margin-bottom: var(--spacing-medium);
}

.partners img {
    width: 100%;
    height: auto;
    filter: grayscale(100%);
}

.partners img:hover{
    filter: none;
}

.circle-container {
    position: relative;
    display: inline-block;
  }
  
  .circle {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-radius: 50%;
    border: 2px solid var(--button-color);
    opacity: 0;
    transition: all 0.3s ease;
  }
  
  .circle-container:hover .circle {
    width: 100%;
    height: 5%;
    opacity: 1;
  }

  /* Footer */
  footer p {
    font-size: var(--fs-small);
    text-align: center;
    color: var(--text-light);
    padding: var(--spacing-medium) 0;
}

footer{
    background-color: var(--bg-primary);
}




@media (max-width: 768px){
    nav .menu-icon-container {
    position: relative;
    }
    nav .menu-icon {
        display: block;
    }
    nav input[type="checkbox"] {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        margin: 0;
        cursor: pointer;
    }
    nav ul {
        display: none;
    }
    .welcome {
        padding-bottom: 4rem;
    }
    .welcome h1 {
        font-size: 2.5rem;
    }
    .welcome p:last-of-type {
        margin-bottom: 0;
    }
    .welcome img {
        display: block;
        margin-top: var(--spacing-medium);
        margin-left: var(--spacing-small);
    }
    .welcome a {
        display: none;
    }
    .courses .course-wrapper {
        width: 100%;
    }
    .who-we-are .image-wrapper {
        width: 100%;
    }
    .partners .partners-container {
        margin: 0 var(--spacing-small);
    }
}

@media (max-width: 992px){
    .courses .course-wrapper {
        width: 50%;
    }
    .who-we-are .image-wrapper {
        width: 50%;
    }
}




